<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мониторинг воздуха в Астане</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <style type="text/css">
        table {border: 1px solid #69c;}
        th {
            font-weight: normal; color: #039; border-bottom: 1px dashed #69c; padding: 3px 5px;  }
        td { color: #669;    padding: 3px 5px;    }
        tr:hover td {background: #ccddff;}
        .block-left{width:25%;height:700px;overflow:auto;float:left;}
        .block-right{width:75%;height:700px;overflow:auto;}
    </style>
</head>
<body>
    <div class="block-left">
    {% block body %}
        <caption>Таблица уровня загрязнения г. Астана</caption>
        <table class="table">
            <tr>
                <th class="th">№</th>
                <th class="th">Дата и время</th>
                <th class="th">Уровень PM2.5</th>
            </tr>
            {% for x in data %}
            <tr class="tr:hover td"><td class="td">{{ x.number }}</td><td class="td">{{ x.datet }}</td><td class="td">{{ x.pm25 }}  мкг/м3</td></tr>
            {% endfor %}
        </table>
    {% endblock %}
    </div>
    <div class="block-right">
    {% block chart %}
        <canvas id="genderChart" width="1000" height="660"></canvas>
        <script>
            $.ajax({
                method:'GET',
                url:'/data/',
                success:function(data) {
                    console.log(data);
                    new Chart(document.getElementById("genderChart"),
                        {
                            type: 'bar',
                        data: {
                            labels: data.DateT,
                            datasets: [
                                {
                                    type: 'bar',
                                    label: "уровень PM2.5 мкг/м3",
                                    backgroundColor: "rgba(62, 149, 205, 0.5)",
                                    borderColor : "rgba(62, 149, 205, 1)",
                                    pointBackgroundColor: "rgba(62, 149, 205, 1)",
                                    data: data.PM25,
                                },
                                {
                                    type: 'line',
                                    label: "предельно-допустимый коэффициент мкг/м3",
                                    backgroundColor: "rgba(255, 10, 77, 0.5)",
                                    borderColor : "rgba(255, 10, 77, 1)",
                                    pointBackgroundColor: "rgba(255, 10, 77, 1)",
                                    data: data.Allowed,
                                },
                            ]
                        },

                        options: {
                            legend: {
                                labels: {
                                    fontSize: 18
                                }
                            },
                            title: {
                                display : true,
                                text : "Уровень загрязнения воздуха г. Нур-Султан",
                                fontSize : 22.0
                            },
                            scales: {
                                yAxes: [{
                                    ticks:{
                                        beginAtZero: true,
                                        fontSize:15.0,
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Уровень PM2.5',
                                        fontSize :20.0,
                                    }
                                }],
                                xAxes: [{
                                    ticks:{
                                        fontSize: 15.0,
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Промежутки даты и времени',
                                        fontSize : 20.0,
                                    }
                                }]
                            },
                            responsive: false,
                        }
                    });
                },
                error:function(error_data){
                    console.log('Error!');
                    console.log(error_data);
                }
            });
        </script>
    {% endblock %}
    </div>
</body>
</html>